<%= simple_form_for @round do |f| %>
  <%= f.error_notification %>
  <%= f.association :player, collection: @round.game.players, prompt: "Preneur" %>
  <%= f.input :game_id, :as => :hidden, default: params[:game] %>
  <%= f.input :contract %>
  <%= f.input :bouts %>
  <%= f.input :attackPts %>
  <%= f.input :defensePts %>
  <%= f.input :help, as: :boolean, label: 'Petit au Bout',input_html: {class: "click-pab"}  %>
  <div class="d-none pab-choix">
    <%= f.input :petitAuBout, label: "", as: :radio_buttons, collection: ['attaque','defense']%>
  </div>
  <%= f.input :help, as: :boolean, label: 'Levée',input_html: {class: "click-levee"}  %>
  <div class="d-none levee-choix">
    <div class="attaque">
      <%= f.input :help, as: :boolean, label: 'attaque',input_html: {class: "click-levee"}  %>
    </div>
    <div class="test"></div>
    <div class="defense">
      <%= f.input :help, as: :boolean, label: 'defense',input_html: {class: "click-levee "}  %>
    </div>
  </div>
  <div class="d-none atc-choix">
    <%= f.input :levee, label: "", as: :radio_buttons, collection: [["Simple", "atc-S" ], ["Double", "atc-D" ], ["Triple", "atc-T" ]] %>
  </div>
  <div class="d-none d-choix">
    <%= f.input :help1, label: "", as: :radio_buttons, collection: [["Simple", "def-S" ], ["Double", "def-D" ], ["Triple", "def-T" ]] %>
  </div>
  <%= f.input :help, as: :boolean, label: 'Chelem',input_html: {class: "click-chelem"}  %>
  <div class="d-none chelem-choix">
    <%= f.input :chelem, label: "", as: :radio_buttons, collection: ["anoncé", "non-anoncé", "non-réalisé"] %>
  </div>
  <%= f.button :submit %>
<% end %>




