<%= simple_form_for @round do |f| %>
  <%= f.error_notification %>
  <%= f.association :player, collection: @round.game.players, prompt: "Preneur" %>
  <%= f.input :game_id, :as => :hidden, default: params[:game] %>
  <%= f.input :contract %>
  <%= f.input :bouts %>
  <%= f.input :attackPts %>
  <%= f.input :defensePts %>
  <%= simple_fields_for :other do |o| %>
    <%= o.input :petit, as: :boolean, label: 'Petit au Bout',input_html: {class: "click-pab"}  %>
  <% end %>
  <div class="d-none pab-choix">
    <%= f.input :petitAuBout, label: "", as: :radio_buttons, collection: ['attaque','defense']%>
  </div>
  <%= f.input :levee %>
  <%= f.input :chelem %>
  <%= f.button :submit %>
<% end %>




